.vocabularyContainer {
  width: 90vw;
  height: 90vh;
  top: 5vh;
  left: 5vw;
  position: absolute;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  background-color: #fff;
  box-shadow: 2px 2px 2px #c0c0c0;
}
