<div class="container"
  cdkDropList
  #originList="cdkDropList"
  [cdkDropListData]="datas"
  [cdkDropListConnectedTo]="[remoList]"
  (cdkDropListDropped)="onDragOrDrop($event)">
  <app-card *ngFor="let item of datas; let i = index"
    cdkDrag
    #dragItem="cdkDrag"
    class="card"
    [demo]="item">
  </app-card>
</div>

<div class="collectionContainer"
  cdkDropList
  #remoList="cdkDropList"
  [cdkDropListData]="remo"
  [cdkDropListConnectedTo]="[originList]"
  (cdkDropListDropped)="onDragOrDrop($event)">
  <div [ngClass]="{'collectionMiddle': isShowed}">
    <mat-icon class="collectionIcon" [ngClass]="{'collectionIconScale': isScaled}">playlist_add</mat-icon>
  </div>
</div>
