.container {
  padding-top: 64px;
  display: block;
  visibility: hidden;
  width: 100%;
  height: calc(100vh - 56px);
  font-size: large;
}

.card {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  left: 15%;
  top: calc(5% + 56px);
  width: 70%;
  height: calc(80% - 56px);
  border: 1px solid;
  border-radius: 20px;
  background-color: white;

  &:nth-child(1) {
    visibility: visible;
    transform: translate3d(-2px, -2px, 0px);
    z-index: 3;
  }

  &:nth-child(2) {
    visibility: visible;
    z-index: 2;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.coco  {
  display: flex;
  visibility: visible;
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.collectionContainer {
  visibility: hidden;
  position: absolute;
  display: block;
  top: calc(80% + 56px);
  height: 10%;
  width: 100%;
}
