<div class="vocabularyContainer" (swipe)="onSwipe($event, '1')" [ngClass]="{'fadeOut': chch, 'animated': chch}" [ngStyle]="{'z-index': ho}"
  (animationend)="OK('1')" style="background-color: white; z-index: 1000;">
  <div style="position: relative; top: 20%; text-align: center;">
    <div>
      <ruby style="font-size: xx-large;">
        <rb>{{demo.head[0]}}</rb>
        <rt>{{demo.head[1]}}</rt>
        <rb>{{demo.tail}}</rb>
      </ruby>
    </div>
    <div>
      <span>
        {{demo.type}} {{demo.zh_tw}}
      </span>
    </div>
    <div style="margin: 50px auto;">
      <table style="width: 100%;">
        <tr>
          <td>現在式</td>
          <td>{{demo.now.y}}</td>
          <td>{{demo.now.n}}</td>
        </tr>
        <tr>
          <td>現在式 (敬語)</td>
          <td>{{demo.now.ry}}</td>
          <td>{{demo.now.rn}}</td>
        </tr>
        <tr>
          <td>て型</td>
          <td>{{demo.te}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="vocabularyContainer" (swipe)="onSwipe($event, '2')" [ngClass]="{'fadeOut': chch1, 'animated': chch1}" [ngStyle]="{'z-index': ho1}"
  (animationend)="OK('2')" style="background-color: lightgray;">
  <div style="position: relative; top: 20%; text-align: center;">
    <div>
      <ruby style="font-size: xx-large;">
        <rb>{{demo1.head[0]}}</rb>
        <rt>{{demo1.head[1]}}</rt>
        <rb>{{demo1.tail}}</rb>
      </ruby>
    </div>
    <div>
      <span>
        {{demo1.type}} {{demo1.zh_tw}}
      </span>
    </div>
    <div style="margin: 50px auto;">
      <table style="width: 100%;">
        <tr>
          <td>現在式</td>
          <td>{{demo1.now.y}}</td>
          <td>{{demo1.now.n}}</td>
        </tr>
        <tr>
          <td>現在式 (敬語)</td>
          <td>{{demo1.now.ry}}</td>
          <td>{{demo1.now.rn}}</td>
        </tr>
        <tr>
          <td>て型</td>
          <td>{{demo1.te}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
